* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body {
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
  margin-top: 10rem;
  width: 30rem;
  text-align: center;
}

input[type=button],
input[type=submit] {
  border: 1px solid gray;
  background: white;
  height: 3rem;
  font-size: 1rem;
  min-width: 10rem;
  cursor: pointer;
}
